<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.p2photo">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".wifi.P2PService"
            android:exported="false"></service>

        <activity android:name=".wifi.SearchUsersActivityWifi" />
        <activity android:name=".wifi.UserListActivityWifi" />
        <activity android:name=".wifi.AlbumDisplayActivityWifi" />
        <activity android:name=".wifi.AlbumsListActivityWifi" />
        <activity android:name=".wifi.CreateFolderActivityWifi" />
        <activity android:name=".wifi.SignUpActivityWifi" />
        <activity android:name=".wifi.LogInActivityWifi" />
        <activity android:name=".wifi.UserOptionsActivityWifi" />
        <activity android:name=".wifi.MainActivityWifi" />
        <activity android:name=".RestMainActivity" />
        <activity android:name=".ModeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cloud.AlbumDisplayActivity" />
        <activity android:name=".cloud.AlbumsListActivity" />
        <activity android:name=".cloud.UserListActivity" />
        <activity android:name=".cloud.UserOptionsActivity" />
        <activity android:name=".cloud.LogInActivity" />
        <activity android:name=".cloud.SignUpActivity" />
        <activity android:name=".cloud.CreateFolderActivity" />
        <activity android:name=".cloud.MainActivity" />

        <service
            android:name=".wifi.FileTransferService"
            android:enabled="true" />
    </application>

</manifest>